.relatedRecordTableWidget .dijitTabContainerLeftChildWrapper,
.relatedRecordTableWidget .dgrid,
.relatedRecordTableWidget .dijitTabContainerTopChildWrapper,
.RelatedRecordsTableParent.dijitContentPane,
.relatedRecordTableWidget .dijitTabPaneWrapper{
     height: 100%; 
     padding: 0;
}

.RelatedRecordsTableParent {
    overflow:hidden;
}


/*.top .relatedRecordTableWidget .dijitTabPaneWrapper, 
.bottom .relatedRecordTableWidget .dijitTabPaneWrapper {
    height:80%;
}*/
