.relatedRecordTableWidget .dijitTabContainerLeftChildWrapper,
.relatedRecordTableWidget .dgrid,
.relatedRecordTableWidget .dijitTabContainerTopChildWrapper,
.RelatedRecordsTableParent.dijitContentPane {
     height: 100%; 
     padding: 0;
}

.relatedRecordTableWidget .dijitTabPaneWrapper {
    height:99%;
}

.top .relatedRecordTableWidget .dijitTabPaneWrapper, 
.bottom .relatedRecordTableWidget .dijitTabPaneWrapper {
    height:80%;
}
