<div>
    <p><strong>Remember Current View:</strong></p>
    <input data-dojo-attach-point="saveMapExtent" 
           name="saveMapExtent" 
           data-dojo-type="dijit/form/CheckBox" 
           data-dojo-attach-event="onChange:setSaveMapExtent" />
    <label for="saveMapExtent">Save Map Extent</label><br />
    <input data-dojo-attach-point="saveLayerVisibility" 
        name="saveLayerVisibility" 
        data-dojo-attach-event="onChange:setSaveLayerVisibility" 
        data-dojo-type="dijit/form/CheckBox" />
    <label for="saveLayerVisibility">Save Layer Visibility</label><br /><br/>
    <p><strong>Save and Share Options:</strong></p>
    <input data-dojo-attach-point="shareURL" 
        name="shareURL" 
        data-dojo-attach-event="onChange:setShareURL" 
        data-dojo-type="dijit/form/CheckBox" />
    <label for="shareURL">Share Map Using URL Location</label><br />    
    <input data-dojo-attach-point="shareLocalStorage" 
        name="shareLocalStorage" 
        data-dojo-attach-event="onChange:setShareLocalStorage" 
        data-dojo-type="dijit/form/CheckBox" />
    <label for="shareLocalStorage">Restore View When Loaded</label><br />

</div>