<div class="${baseClass}">  
    <input data-dojo-attach-point="saveMapExtent" 
           name="saveMapExtent" 
           data-dojo-type="dijit/form/CheckBox" 
           data-dojo-props="checked: this._appSettings.saveMapExtent.save"  />
    <label for="saveMapExtent">Save Map Extent</label><br />
    <input data-dojo-attach-point="saveLayerVisibility" 
           name="saveLayerVisibility" 
           data-dojo-type="dijit/form/CheckBox"
           data-dojo-props="checked: this._appSettings.saveLayerVisibility.save" />
    <label for="saveLayerVisibility">Save Visible Layers</label><br /><br/>
    <p><br />
        <span data-dojo-attach-point="defaultShareNode"></span> 
        <button data-dojo-attach-point="clearCacheButton" 
                data-dojo-props="iconClass:'fa fa-history fa-fw'"
                data-dojo-type="dijit/form/Button">Reset Settings</button>
    </p>
    <div data-dojo-attach-point="containerNode" class="${baseClass}Container"></div>
</div>
