<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*" logFile="proxylog.txt" mustMatch="false">
    <serverUrls>
        <serverUrl url="http://services.arcgisonline.com" matchAll="true"/>
        <serverUrl url="http://sampleserver3.arcgisonline.com" matchAll="true"/>
        <serverUrl url="http://sampleserver1.arcgisonline.com" matchAll="true"/>
        <serverUrl url="http://sampleserver6.arcgisonline.com" matchAll="true"/>
        <serverUrl url="http://localhost" matchAll="true"/>
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->