<div class="filter-widget" style="width: 300px;height:350px;">

    <label for="layerSelect">${i18n.layerSelect.label}:
</label>
    <br />
    <input data-dojo-type="dijit/form/FilteringSelect" data-dojo-props="
store:this.layerStore,
searchAttr:'name',
fetchProperties: {
sort: [{ attribute: 'name', descending: false}]
},
" data-dojo-attach-point="layerSelect" name="layer" />

    <br />
    <br />

  <div data-dojo-type="dijit/layout/TabContainer" data-dojo-attach-point="tabContainer" style="height:82%;">
    <div data-dojo-type="dijit/layout/ContentPane" title="Labels" data-dojo-attach-point="tabBasic">

      <div data-dojo-attach-point="defaultLabelWrapper">
        <label for="fieldSelect">${i18n.labelSelect.label}:
<span data-dojo-attach-point="fieldSpinner" class="dijitHidden"><i class="fa fa-spinner fa-spin"></i></span>
        </label>
        <br />
        <input data-dojo-type="dijit/form/FilteringSelect" data-dojo-props="
store:this.labelSelectionStore,
searchAttr:'name',
fetchProperties: {
sort: [{ attribute: 'id', descending: false}]
}
" data-dojo-attach-point="labelSelect" name="layer" />

        <br />
        <input name="appendCheckbox" checked data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="appendCheckbox" data-dojo-props="checked:false" />
        <label for="appendCheckbox">${i18n.appendCheckbox.label}</label>

        <br />
        <br />
      </div>


      <label for="labelTextbox">Label String:</label>
      <input type="text" name="labelTextbox" value="" data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="labelTextbox" data-dojo-props="trim:true, propercase:true" />

    </div>






    <div data-dojo-type="dijit/layout/ContentPane" title="Advanced" data-dojo-attach-point="tabAdvanced">



      <label for="colorSelect">${i18n.colorSelect.label}:
                            </label>
      <input data-dojo-type="dijit/form/FilteringSelect" data-dojo-props="
    store:this.colorStore,
    searchAttr:'name',
    fetchProperties: {
      sort: [{ attribute: 'name', descending: false}]
    }
    " data-dojo-attach-point="colorSelect" name="colorSelect" />

      <br />


      <label for="fontTextbox">${i18n.fontSize.label}:</label>
      <input name="fontTextbox" type="number" value="${fontSize}" data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="fontTextbox" required="true" />



    </div>
  </div>
</div>
