<div class="filter-widget" style="width: 300px;height:350px;">

    <label for="layerSelect">${i18n.layerSelect.label}:
</label>
    <br />
    <input data-dojo-type="dijit/form/FilteringSelect" data-dojo-props="
store:this.layerStore,
searchAttr:'name',
fetchProperties: {
sort: [{ attribute: 'name', descending: false}]
},
" data-dojo-attach-point="layerSelect" name="layer" />

    <br />
    <br />


    <div data-dojo-type="dijit/layout/TabContainer" data-dojo-attach-point="tabContainer" style="height:70%;">
        <div data-dojo-type="dijit/layout/ContentPane" title="Labels" data-dojo-attach-point="labelTab">

            <label for="fieldSelect">${i18n.defaultLabelSelect.label}:
        </label>
            <br />
            <input data-dojo-type="dijit/form/FilteringSelect" data-dojo-props="
store:this.defaultLabelStore,
searchAttr:'name',
fetchProperties: {
sort: [{ attribute: 'name', descending: false}]
}
" data-dojo-attach-point="defaultLabelSelect" name="layer" />


        </div>






        <div data-dojo-type="dijit/layout/ContentPane" title="Advanced" data-dojo-attach-point="advancedTab">



            <label for="fieldSelect">${i18n.colorSelect.label}:
                  </label>
            <br />
            <input data-dojo-type="dijit/form/FilteringSelect" data-dojo-props="
    store:this.colorStore,
    searchAttr:'name',
    fetchProperties: {
      sort: [{ attribute: 'name', descending: false}]
    }
    " data-dojo-attach-point="colorSelect" name="layer" />

            <br />


            <label for="fontTextbox">${i18n.fontSize.label}:</label>
            <input name="fontTextbox" type="number" value="${fontSize}" data-dojo-type="dijit/form/TextBox"
            data-dojo-attach-point="fontTextbox" required="true" />


            <hr />


            <label for="fieldSelect">${i18n.fieldSelect.label}:
            </label>
            <br />
            <input data-dojo-type="dijit/form/FilteringSelect" data-dojo-props="
      store:this.fieldStore,
      searchAttr:'name',
      fetchProperties: {
        sort: [{ attribute: 'name', descending: false}]
      }
      " data-dojo-attach-point="fieldSelect" name="layer" />


            <br />

            <span name="toggleAppend" checked data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="appendCheckbox">
              </span>
            <label for="toggleAppend">Add to existing label</label>

            <br />
            <br />


            <label for="labelTextbox">Label String:</label>
            <input type="text" name="labelTextbox" value="" data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="labelTextbox" data-dojo-props="trim:true, propercase:true" />




        </div>
    </div>
</div>
